<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>authorizedotnet</name>
    <displayName><![CDATA[Authorize.net (AIM / DPM)]]></displayName>
    <version><![CDATA[2.0.1]]></version>
    <description><![CDATA[Receive and Refund payments using Authorize.net (AIM or DPM)]]></description>
    <author><![CDATA[Presto-changeo]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>