@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.page-cms {
    #content-wrapper{
        width: 100%;
    }
    .cms-box {
        img {
            max-width: 100%;
        }
    }
    &.page-content {
		line-height: 1.8;
		p {
			line-height: 1.8;
		}
    }
    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-weight: 700;
    }
    .page-cms {
        ul {
            padding-left: 18px;
            list-style-type: disc;
        }
        ol {
            padding-left: 18px;
        }
        h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
            margin-bottom: 10px;
        }
    }
}