@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";
#custom-text {
    background: white;
    border-radius: 2px;
    margin-bottom: 24px;
    padding: 50px 50px;
    text-align: center;
    h3 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 700;
    }
}

@include media-breakpoint-down(md) {
    #block-cmsinfo {
        padding: $medium-space $large-space;
    }
}
