@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

#products,
#pagenotfound {
    #main {
        .page-header {
            margin: 32px 0 48px;
        }
    }
    .page-not-found {
        h4 {
            font-size: 20px;
            color: inherit;
            text-transform: uppercase;
            margin: 8px 0 16px;
        }
        p {
            font-size: 16px;
        }
        
        border: 1px solid $clr-nineteen;
        padding: 60px 15px;
        font-size: $font-size-sm;
        max-width: 700px;
        margin: 0 auto 30px;
        text-align: center;
        #_desktop_search_bar{
            display: block !important;
            margin-top: 25px;
            flex: 0 0 100%;
            max-width: 100%;
            .search-bar__wrap {
                width: 100%;
                display: flex;
                justify-content: center;
                align-center: center;
            }
            .search-close {
                display: none;
            }
            .search-bar__text {
                color: inherit;
                height: 40px;
                padding: 5px 15px;
                border: 1px solid $clr-three;
                flex: 1 0 auto;
                max-width: 200px;
                border-radius: 5px;
                &::placeholder {
                    color: inherit;
                }
                &:focus {
                    border-color: $brand-primary;
                    outline: none;
                }
            }
            .search-bar__btn {
                margin-left: 10px;
                padding: 0;
                border: 0;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                background: $brand-primary;
                color: $white;
                position: static;
                transform: none;
                border-radius: 5px;
            }
        }
    }
}
#pagenotfound {
    .page-header {
        margin-top: 50px;
    }
    h1 {
        text-align: center;
    }
}
#content-wrapper.col-lg-9 {
    .page-not-found {
        max-width: 100%;
    }
}
@include media-breakpoint-down(md){
    #products,
    #pagenotfound {
        .page-not-found {
            #_desktop_search_bar {
                .search-bar__text {
                    border: 1px solid $clr-three;
                }
            }
        }
    }
}