@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

#footer {
	margin-top: 100px;
}
.footer-container {
	background: $clr-eight;
	color: rgba($white, .6);
	font-size: 14px;
	font-weight: 300;
	p {
		line-height: inherit;
	}
	.collapse {
		display: block;
		margin: 0;
	}
}
.links {
	line-height: 2.5;
	margin-bottom: 45px;
	h3, .h3 {
		color: $white;
		margin-bottom: 23px;
		font-size: 16px;
		line-height: 1;
		text-transform: uppercase;
		cursor: pointer;
	}
	li {
		position: relative;
		a {
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-one {
	padding: 78px 0 5px;
}
.footer-two {
	font-size: 14px;
	font-weight: 300;
	> .container {
		border-top: 1px solid rgba($white, .1);
		padding: 12px 0 21px;
	}
	.inner-wrapper{
		align-items: center;
	}
	.aeuc_footer_info{
		padding: 0 $grid-gutter-width-base/2;
	}
}
@include media-breakpoint-between(sm, lg) {
	.footer-two {
		.inner-wrapper {
			margin: 0;
		}
	}
}
@include media-breakpoint-down(md) {
	#footer {
		margin-top: 30px;
	}
	.footer-one {
		padding: 20px 0 10px;
	}
	.footer-two {
		font-size: 12px;
	}
	.footer-three {
		> .container {
			padding-top: 10px;
			padding-bottom: 25px;
			border-top: none;
		}
	}
	.footer-container {
		.links {
			margin-bottom: 0;
			.h3 {
				line-height: 2;
				margin: 0;
			}
			.title {
				border-bottom: 1px solid rgba($white, 0.2);
				padding-bottom: 5px;
				margin-bottom: 7px;
				cursor: pointer;
				display: flex;
				cursor: pointer;
				position: relative;
				.pull-xs-right{
					position: absolute;
					right: 0;
					top: 0;
				}
				.collapse-icons .remove {
					display: none;
				}
			}
			.title[aria-expanded="true"] .collapse-icons {
				.add {
					display: none;
				}
				.remove {
					display: block;
				}
			}
			.navbar-toggler {
				display: inline-block;
				padding: 0;
			}
            .collapse{
                display: none;
                &.show{
                    display: block;
                }
            }
			ul {
				margin-bottom: 0;
			}
		}
	}
}
@include media-breakpoint-down(xs) {
	#footer {
		margin-top: 20px;
	}
	.footer-container {
		.links {
			.h3 {
				font-size: 14px;
			}
		}
	}
}
@include media-breakpoint-down(xxs) {
	.footer-two {
		font-size: 11px;
	}
}
