@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.form-control-label {
  padding-top: 10px;
}

/*fix inner shadow in Chrome and Safari mobile*/
input[type="text"],input[type="password"],input[type="email"],
input[type="number"],textarea{
	 appearance: none;
	 border-radius: 0;
}
textarea {
	resize: none;
	&.form-control{
		padding-top: 10px;
		padding-bottom: 10px;
		height: auto;
	}
}
.form-control {
	border-radius: 0;
	display: block;
	width: 100%;
	padding: 5px 15px;
	height: 44px;
	font-size: 15px;
	background-color: transparent;
	border: 2px solid $clr-three;
	outline: none;
	&:disabled {
		background-color: transparent;
	}
	&:focus{
		background-color: transparent;
		border-color: $brand-primary;
	}
}
.input-group {
	.form-control:focus {
		outline: none;
	}
	.form-control {
		border-right-width: 0;
	}
	.input-group-btn > .btn {
	    font-size: 11px;
	    display: flex;
	    align-items: center;
	    height: 100%;
	    padding: 0.4em 2em;
	}
}
.form-group{
	margin-bottom: 18px;
}
.form-control-label {
	text-transform: uppercase;
}