@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

.block-social {
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin: 5px 0;
	}
	a {
		background-color: transparent;
		display: block;
		font-size: 17px;
		width: 2em;
		height: 2em;
		line-height: 2.1em;
		text-align: center;
		border-radius: 4px;
	    transition: transform .3s;
	    will-change: transform;
		&:before {
			font-family: $second-icon-font;
		}
		&:hover {
			background: rgba($white, 0.072);
			color: $white;
			transform: scale(0.95, 0.95);
		}
	}
	.facebook{
		a{
			&:before{
				content: '\3b';
			}
		}
	}
	.twitter{
		a{
			&:before{
				content: '\3f';
			}
		}
	}
	.rss{
		a{
			&:before{
				content: '\38';
			}
		}
	}
	.youtube{
		a{
			&:before{
				content: '\40';
			}
		}
	}
	.googleplus{
		a{
			&:before{
				content: '\21';
			}
		}
	}
	.pinterest{
		a{
			&:before{
				content: '\3e';
			}
		}
	}
	.vimeo{
		a{
			&:before{
				content: '\39';
			}
		}
	}
	.instagram{
		a{
			&:before{
				content: '\3c';
			}
		}
	}
}
@include media-breakpoint-up(md) {
	.footer-two {
		.block-social {
			ul {
				justify-content: center;
			}
		}
	}
}
@include media-breakpoint-down(md) {
	.block-social {
		a {
			font-size: 15px;
		}
	}
}
@include media-breakpoint-down(sm) {
	.footer-two {
		.block-social {
			order: 2;
			ul {
				justify-content: flex-end;
			}
		}
	}
}
@include media-breakpoint-down(xs) {
	.block-social {
		a {
			font-size: 19px;
		}
	}
	.footer-two {
		.block-social {
		    border-top: 1px solid rgba($white, 0.1);
			ul {
				justify-content: center;
			}
		}
	}
}
@include media-breakpoint-down(xxs) {
	.block-social {
		a {
			font-size: 17px;
		}
	}
}