@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

strong, b {
	font-weight: 700;
}
hr {
	width: 100%;
}
h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: inherit;
	margin-bottom: 20px;
	font-weight: 400;
}
h1, .h1{
	font-size: 3.3rem;
}
h2, .h2{
	font-size: 2.5rem;
}
h3, .h3{
	font-size: 2rem;
}
h4, .h4{
	font-size: 1.8rem;
}
h5, .h5{
	font-size: 1.8rem;
}
h6, .h6{
	font-size: 1.6rem;
}
p {
	line-height: 1.8;
}
.page-header{
	h1 {
		font-weight: 700;
		text-transform: uppercase;
	}
}
.headline-section {
	position: relative;
	font: {
		size: 46px;
		weight: 700;
	}
	line-height: 1;
	text-align: center;
	overflow: hidden;
	margin-bottom: 21px;
	&:after {
		border-top: 2px solid $brand-primary;
		content: '';
		width: 41px;
		display: block;
		margin: 20px auto 0;
	}
}
.description-section {
    max-width: 750px;
    margin: 0 auto 40px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.4;
}
.text-center {
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.page-heading {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 17px;
	text-transform: uppercase;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	> span {
		background: $white;
		display: inline-block;
		position: relative;
		z-index: 1;
		&:not(.heading-counter){
			margin-right: auto;
			padding-right: 17px;
		}
	}
	&:before{
		#cms &{
			display: none;
		}
	}
	.heading-counter {
		font: .6em/1 $first-font;
		padding-left: 17px;
		text-transform: none;
	}
	&.bottom-indent {
		margin-bottom: 16px;
	}
}
.page-subheading {
	font-size: 18px;
	line-height: 1.1;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.rte {
	line-height: 1.8;
	h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
		font-weight: 700;
		margin: 25px 0 10px;
	}
    iframe {
        max-width: 100%;
    }
	p {
		line-height: inherit;
	}
    ul {
        padding-left: 18px;
        list-style-type: disc;
    }
}
@include media-breakpoint-up(sm) {
	.page-heading {
		&:before {
			border-top: 4px double $clr-three;
			bottom: 0;
			content: '';
			height: 0;
			left: 0;
			margin: auto 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 0;
		}
	}
}
@include media-breakpoint-down(lg) {
	.headline-section {
		font-size: 50px;
	}
	.description-section {
		font-size: 16px;
	}
}
@include media-breakpoint-down(md) {
	.headline-section {
		font-size: 45px;
	}
}
//max 768
@include media-breakpoint-down(sm) {
	.headline-section {
		font-size: 35px;
	}
	.card-title, h1, .h1{
		font-size: 28px;
	}
	.page-header{
		h1 {
			font-size: 28px;
		}
	}
	.description-section {
		font-size: 15px;
	}
}
//max 575
@include media-breakpoint-down(xs) {
	.card-title, h1, .h1{
		font-size: 20px;
	}
	.headline-section {
		font-size: 30px;
	}
	.page-header{
		h1 {
			font-size: 18px;
		}
	}
	.page-heading {
		.heading-counter {
			float: none;
			display: block;
			padding: 5px 0 0;
		}
	}
	h2, .h2{
		font-size: 1.5rem;
	}
	h3, .h3{
		font-size: 1.25rem;
	}
	.description-section {
		font-size: 13px;
		line-height: 1.8;
	}
}
@include media-breakpoint-down(xxs) {
	.headline-section {
		font-size: 23px;
		line-height: 1.3;
	}
}