@import "~bootstrap/scss/_mixins.scss";
@import "../partials/_variables";

#page {
	overflow: hidden;
}
#index #page {
	padding-top: 0 !important;
}
#wrapper {
	padding-top: 24px;
}
#content-wrapper{
	flex-grow: 1;
}
.page-index {
	#wrapper{
		padding: 0;
	}
	#content-wrapper{
		padding-left: 0;
		padding-right: 0;
	}
	.page-footer {
		margin-top: 0;
	}
	&.layout-left-column, &.layout-right-column, &.layout-both-columns {
		.wrapper-columns {
		    margin: 0 auto;
		    max-width: 1500px;
		    display: flex;
		    flex-wrap: wrap;
		}
		.sidebar {
			margin-top: 112px;
		}
	}
	&.layout-both-columns {
		.wrapper-columns {
			max-width: 1700px;
		}
	}
}
.footer-home-section {
	margin-top: 114px;
}
@include media-breakpoint-down(md){
	#page {
		padding-top: 0 !important;
	}
	#content-wrapper{
		~ #right-colum{
			order: 2;
		}
	}
	#left-column{
		order: 2;
		~ #content-wrapper{
			order: 1;
		}
		~ #right-colum{
			order: 3;
		}
	}
	.footer-home-section {
		margin-top: 50px;
	}
}
@include media-breakpoint-down(sm){
	#wrapper{
		padding-bottom: 20px;
	}
}