@import "node_modules/open-sans-fontface/sass/mixins";
@import "node_modules/open-sans-fontface/sass/Regular";
@import "node_modules/open-sans-fontface/sass/Italic";
//@import "node_modules/open-sans-fontface/sass/Semibold";
//@import "node_modules/open-sans-fontface/sass/SemiboldItalic";
@import "node_modules/open-sans-fontface/sass/Bold";
//@import "node_modules/open-sans-fontface/sass/BoldItalic";
//@import "node_modules/open-sans-fontface/sass/Light";
//@import "node_modules/open-sans-fontface/sass/LightItalic";

@font-face {
    font-family: 'GothamPro';
    src: url('../../fonts/GothamPro-Light.eot');
    src: local('☺'), url('../../fonts/GothamPro-Light.woff') format('woff'), url('../../fonts/GothamPro-Light.ttf') format('truetype'), url('../../fonts/GothamPro-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'GothamPro';
    src: url('../../fonts/GothamPro.eot');
    src: local('☺'), url('../../fonts/GothamPro.woff') format('woff'), url('../../fonts/GothamPro.ttf') format('truetype'), url('../../fonts/GothamPro.svg') format('svg');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'GothamPro';
    src: url('../../fonts/GothamPro-Bold.eot');
    src: local('☺'), url('../../fonts/GothamPro-Bold.woff') format('woff'), url('../../fonts/GothamPro-Bold.ttf') format('truetype'), url('../../fonts/GothamPro-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;

}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: $second-icon-font;
  src: url(../../fonts/fontello.eot);
  src: url(../../fonts/fontello.woff2) format('woff2'),
       url(../../fonts/fontello.woff) format('woff'),
       url(../../fonts/fontello.ttf) format('truetype'),
       url(../../fonts/fontello.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="#{$fa-css-prefix-custom}-"]:before, [class*=" #{$fa-css-prefix-custom}-"]:before {
  font-family: $second-icon-font;
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.font-gplus:before { content: '\21'; } /* '!' */
.font-cart:before { content: '\22'; } /* '&quot;' */
.font-comment:before { content: '\23'; } /* '#' */
.font-maestro:before { content: '\25'; } /* '%' */
.font-mastercard:before { content: '\26'; } /* '&amp;' */
.font-paypal:before { content: '\27'; } /* ''' */
.font-payu:before { content: '\28'; } /* '(' */
.font-discover:before { content: '\29'; } /* ')' */
.font-american-express:before { content: '\2a'; } /* '*' */
.font-amazon:before { content: '\2b'; } /* '+' */
.font-cash-delivery:before { content: '\2c'; } /* ',' */
.font-visa:before { content: '\2d'; } /* '-' */
.font-arrow-left:before { content: '\2e'; } /* '.' */
.font-arrow-right:before { content: '\2f'; } /* '/' */
.font-down-open-big:before { content: '\30'; } /* '0' */
.font-comments:before { content: '\31'; } /* '1' */
.font-information:before { content: '\32'; } /* '2' */
.font-envelope:before { content: '\33'; } /* '3' */
.font-star:before { content: '\34'; } /* '4' */
.font-cross:before { content: '\36'; } /* '6' */
.font-circle:before { content: '\37'; } /* '7' */
.font-rss:before { content: '\38'; } /* '8' */
.font-vimeo:before { content: '\39'; } /* '9' */
.font-eye:before { content: '\3a'; } /* ':' */
.font-facebook:before { content: '\3b'; } /* ';' */
.font-instagram:before { content: '\3c'; } /* '&lt;' */
.font-quote-left:before { content: '\3d'; } /* '=' */
.font-pinterest:before { content: '\3e'; } /* '&gt;' */
.font-twitter:before { content: '\3f'; } /* '?' */
.font-youtube:before { content: '\40'; } /* '@' */
.font-calendar:before { content: '\41'; } /* 'A' */
.font-play:before { content: '\42'; } /* 'B' */
.font-right:before { content: '\43'; } /* 'C' */
.font-heart:before { content: '\44'; } /* 'D' */
.font-stripe:before { content: '\45'; } /* 'E' */
.font-more:before { content: '\47'; } /* 'G' */
.font-phone:before { content: '\48'; } /* 'H' */
.font-placeholder:before { content: '\49'; } /* 'I' */
.font-reverse:before { content: '\4a'; } /* 'J' */
.font-search:before { content: '\4b'; } /* 'K' */
.font-shipped-big:before { content: '\4d'; } /* 'M' */
.font-shipped:before { content: '\4c'; } /* 'L' */
.font-sign-in:before { content: '\4e'; } /* 'N' */
.font-user:before { content: '\4f'; } /* 'O' */
.font-wallet:before { content: '\50'; } /* 'P' */