.product-add-to-cart{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 10px;
	.add {
		padding: 0 5px 0 0;
	}
	.add-to-cart {
    	padding: 0.693em 1.5em;
    	border-radius: 0;
	}
}