.product-features {
    margin-top: $medium-space;
    .h6 {
        text-transform: uppercase;
        font-weight: 700;
    }
    > dl.data-sheet {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        dd.value,
        dt.name {
            flex: 1 0 40%;
            font-weight: normal;
            background: $gray-light;
            padding: 9px 10px;
            margin-right: $small-space;
            line-height: 1.2;
            word-break: break-all;
            border-radius: 6px;
            margin-bottom: 8px;
        }
        dt.name {
            background: linear-gradient(to bottom, $brand-primary 1%, lighten( desaturate( adjust-hue( $brand-primary, 7deg ), 2 ), 11 ) 100%);
            color: $black;
            text-transform: capitalize;
        }
    }
}
@include media-breakpoint-down(sm){
    .more-info {
        font-size: 12px;
    }
}