.product-add-to-cart {
    .control-label{
        font: 700 15px $second-font;
        padding-right: 5px;
        text-transform: uppercase;
        vertical-align: middle;
    }
}

.product-quantity {
    display: inline-block;
    vertical-align: middle;
    .qty{
        padding-right: 5px;
    }
    .qty,.add {
        display: inline-block;
        vertical-align: middle;
    }
}
#quantity_wanted {
    display: none!important;
    .bootstrap-touchspin &{
        display: block !important;
    }
}
