.r-column {
	h1 {
		font-size: 26px;
		font-weight: 700;
		text-transform: none;
		margin-bottom: 30px;
	}
}
//max 768
@include media-breakpoint-down(md) {
	.r-column {
		margin-top: 20px;
		h1{
			font-size: 25px;
		}
	}
}
//max 480
@include media-breakpoint-down(xs) {
	.r-column {
		h1 {
			font-size: 18px;
		}
	}
}