.more-info {
	font-family: $second-font;
	max-width: 100%;
	margin-top: 60px;
	width: 100%;
	.tab-pane-inner {
    	border: 2px solid $brand-primary;
    	padding: 20px 20px 15px;
	}
    .tab-pane, p {
        line-height: 2;
    }
    .product-description {
        font-style: italic;
        h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
        	margin-bottom: 10px;
        }
    }
}
@include media-breakpoint-down(xs) {
	.more-info {
		margin-top: 30px;
		.tab-pane-inner {
			padding: 15px;
		}
	}
}