.product-variants {
    margin: 25px -10px 0;
    .control-label {
        font: 700 15px $second-font;
        padding-right: 10px;
        text-transform: uppercase;
        vertical-align: middle;
    }
    select {
        height: 38px !important;
        width: auto;
    }
    label {
        margin: 0;
    }
}

.product-variants-item {
    padding: 0 10px 20px;
    ul {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    li {
        display: inline-block;
        vertical-align: top;
        margin: 3px 3px 3px 0;
    }
    .color {
        border: 2px solid $clr-three;
        height: 38px;
        width: 38px;
        border-radius: 4px;
    }
    .input-color,
    .input-radio {
        &:checked,
        &:hover {
            + span {
                border-color: $brand-primary;
                background: $brand-primary;
                color: $white;
            }
        }
    }
}

.input-color {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.input-container {
    position: relative;
}

.input-radio {
    position: absolute;
    top: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.radio-label {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $clr-three;
    cursor: pointer;
    font-weight: bold;
    height: 38px;
    line-height: 34px;
    padding: 0 7px;
    min-width: 38px;
    text-align: center;
    width: auto;
    font-size: 14px;
    border-radius: 4px;
    transition: .2s border-color, .2s background, .2s color;
}
@include media-breakpoint-down(xxs) {
    .product-variants {
        .control-label {
            display: block;
            padding: 0;
            margin-bottom: 10px;
        }
        select {
            display: block;
            width: 100%;
        }
    }
}
