.copyright {
	p {
		margin: 0;
	}
}
@include media-breakpoint-down(sm) {
	.footer-container {
		.copyright {
		    text-align: center;
		    margin-top: 10px;
		    border-top: 1px solid rgba($white, 0.1);
		    padding-top: 20px;
		    order: 3;
		}
	}
}
@include media-breakpoint-down(xs) {
	.footer-container {
		.copyright {
			margin-top: 0;
		}
	}
}