@import "~bootstrap/scss/_mixins.scss";
@import "../../partials/_variables";

@import "all";
@import "header-slider";
@import "top";
@import "home";
@import "features";
//@import "video";
@import "testimonials";
@import "category";
@import "footer";
@import "payment";
@import "copyright";
//@import "map";
//@import "promo";

.htmlcontent{
	&.displayTopColumn {
		margin-top: 0;
	}

}
.htmlcontent__item{
	&.-style-two{
		.htmlcontent__html{
			font:{
				size: 70px;
			}
			color: $white;
			text-transform: uppercase;
			line-height: 1;
		}
		.htmlcontent__text-two{
			font-size: 0.64em;
		}
		.htmlcontent__text-three{
			font-size: 1.27em;
		}
		.htmlcontent__item__img{
			width: 100%;
		}
		p{
			margin-bottom: 0;
		}
	}
}
