.promo-banner {
	text-align: center;
	.banner-link {
		padding: 11.04% 0;
	}
	.container {
		padding: 0 20px;
	}
	figure {
		margin: 0;
	}
	p {
	    font-weight: 400;
		line-height: 1.8;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.box-btn {
		margin-top: 2.6em;
	}
}
@include media-breakpoint-down(md){
	.promo-banner {
		font-size: 14px;
	}
}
@include media-breakpoint-down(xs){
	.promo-banner {
		text-align: inherit;
		.headline-section {
			text-align: inherit;
		}
	}
}