.category-miniature {
	transition: border-color .5s;
	transition: all .3s;
    box-shadow: 0px 0px 0px rgba($black, .1);
	> a {
		overflow: hidden;
		&:after {
		    background-color: rgba($white, .4);
		    display: block;
		    content: "";
		    height: 100%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    width: 0;
		    transition: none 0s ease 0s;
		    z-index: 1;
		}
	}
	img{
		transition: transform .6s;
	}
	&:hover{
    	box-shadow: 0 5px 20px rgba($black, .1);
    	transform: translateY(-4px);
		> a {
			&:after {
			    background-color: transparent;
			    width: 120%;
			    transition: all 0.3s ease-out .2s;
			}
		}
	}
}