/**** ORDER CONFIRMATION *****/
#order-details {
    padding-left: $large-space;
    > .card-title {
        margin-bottom: $large-space;
    }
    ul {
        margin-bottom: $medium-space;
        li {
            margin-bottom: $small-space;
        }
    }
}

#order-items {
    border-right: $gray-light 1px solid;
    table {
        width: 100%;
        tr {
            height: $large-space;
            td {
                &:first-child {
                    text-align: right;
                    width: 80%;
                }
                &:last-child {
                    text-align: right;
                }
            }
        }
    }
    .order-line {
        border: 1px solid $clr-three;
        padding: 12px 5px;
        margin: 0 0 8px;
        align-items: center;
    }
    .details {
        font-weight: 600;
        .customizations {
            margin-top: 10px;
        }
    }
}

#order-confirmation {
    #registration-form {
        width: 50%;
        margin: 0 auto 16px;
    }
}
.page-order-confirmation{
    margin: 10px 0;
}
//max 575
@include media-breakpoint-down(xs) {
    .order-confirmation-table{
        .qty{
            margin-top: 15px;
        }
    }
    #order-items {
        .image {
            display: block;
            margin-bottom: 15px;
            text-align: center;
            img {
                display: inline-block;
            }
        }
    }
}