#blockcart-modal {
    padding: 0 !important;
    .modal-dialog {
        width: 100%;
        max-width: 950px;
    }
    .modal-body{
		padding: 0;
	}
	.divide-right{
		padding: 0;
	}
	.product-image{
        background-color: #f7f7f7;
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding-top: 100%;
        min-height: 100%;
	}
    .close {
        opacity: 1;
    }
}

.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
	padding: 40px 45px;
    .h6 {
        font-size: 27px;
        display: block;
        margin-bottom: 15px;
    }
    p {
        font-size: 16px;
        margin: 0;
        text-transform: uppercase;
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        strong {
            display: block;
            float: left;
            margin-bottom: 10px;
            color: $clr-six;
        }
        span {
            font-weight: 700;
            display: block;
            float: right;
            margin-bottom: 10px;
        }
    }
    .cart-products-count {
        font-weight: 600;
        text-transform: none;
        margin-bottom: 10px;
    }
}
.cart-content-btn{
    margin-top: 25px;
    .btn {
        font-size: 12px;
        padding: 15px 18px;
        text-transform: capitalize
    }
    .btn-secondary{
        float: left;
    }
    .btn-primary{
        float: right;
    }
}
@include media-breakpoint-down(xs) {
    #blockcart-modal {
        .modal-dialog{
            margin: 0;
        }
    }
}
@include media-breakpoint-down(md) {
    #blockcart-modal{
        .product-image{
            padding-top: 50%;
        }
    }
}
@include media-breakpoint-down(xs) {
    .cart-content {
        padding-left: 30px;
        padding-right: 30px;
        h6{
            font-size: 25px;
        }
        p{
            font-size: 14px;
            span{
                font-size: 12px;
            }
        }
    }
    .cart-content-btn{
        .btn{
            width: 100%;
            &:first-child{
                margin-bottom: 15px;
            }
        }
    }
}
