.post_meta {
	> div {
		font-size: 14px;
		display: inline-block;
		padding-right: 0;
		margin-right: 12px;
	}
	i {
		font-size: 18px;
		color: $clr-eighteen;
		display: inline-block;
		margin-right: 4px;
	}
	span {
		vertical-align: middle;
	}
}