.no-style{
    display: none;
}
.custom-checkbox {
	display: inline-block;
    position: relative;
    vertical-align: middle;
    a {
        color: $brand-primary;
    }
    input[type="checkbox"] {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        z-index: 1;
        + span {
            background: $white;
		    border: 1px solid $clr-nineteen;
		    display: inline-block;
		    height: 20px;
            max-height: 20px;
		    position: relative;
		    width: 20px;
            min-width: 20px;
		    cursor: pointer;
		    margin-right: 10px;
		    transition: background .2s, border-color .2s, color .2s;
            .checkbox-checked {
        		position: absolute;
   				top: -3px;
    			left: 0;
    			font-size: 19px;
				opacity: 0;
				visibility: hidden;
				transition: opacity .2s, visibility .2s, transform .2s;
                transform: translateY(-5px);
            }
        }
        &:checked + span {
            border-color: $brand-primary;
    		background: $brand-primary;
    		color: $white;
            text-shadow: 1px 1px 2px rgba($black, .8);
            .checkbox-checked {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
    label {
        text-align: left;
    }
}
