/*menu thumbail*/
.top-menu{
	&[data-depth="1"]{
		.menu-thumbnails{
			display: none;
		}
	}
}
.menu-thumbnails {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: 0 -5px;
	.thumbnail {
		margin-bottom: 10px;
		padding: 0 5px;
		&:nth-child(2), &:nth-child(3) {
			width: 50%;
		}
	}
	.thumbnail-img {
		width: 100%;
	}
}
@include media-breakpoint-up(lg) {
	.menu-thumbnails {
		flex: 5 0 44%;
	}
}
@include media-breakpoint-down(md) {
	.menu-thumbnails {
		margin-top: 20px;
		max-width: 520px;
		padding-right: 15px;
	}
}
@include media-breakpoint-down(xxs) {
	.menu-thumbnails {
		.thumbnail {
			&:nth-child(2), &:nth-child(3) {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}
	}
}