.lang-rtl {
	.products-selection {
		.dropdown-menu {
			left: auto;
			right: 0;
		}
		label {
			padding: 0 0 0 4px;
		}
	}
	.select-title {
		padding: 0 12px 0 35px;
		i {
			right: auto;
			left: 0;
		}
	}
}