.wishtlist_top {
	display: inline-block;
	padding: 0 15px 0 20px;
}
@include media-breakpoint-down(md) {
	.wishtlist_top {
		padding: 0 15px 0 0;
	}
}
@include media-breakpoint-down(xs) {
	.wishtlist_top {
		font-size: 13px;
	}
}