.nav {
	&.nav-tabs {
		justify-content: center;
		flex-wrap: wrap;
	    margin: 0 0 18px;
		font-size: 0;
		border: none;
		.nav-item {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			.nav-link-inner {
				display: inline-block;
				position: relative;
			}
			.hidden-text {
				transition: opacity 0.3s;
			}
			.visible-text {
				font-weight: 700;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(1.5);
				opacity: 0;
				transition: .3s opacity, .3s transform;
			}
			.nav-link {
				border: none;
			    display: block;
			    padding: 0.8em 1.66em 0.2em 1.66em;
			    background-color: transparent;
			    font-size: 20px;
				display: block;
				border-radius: 0;
				color: $clr-fifteen;
				position: relative;
				white-space: nowrap;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 1.15em;
					right: 1.15em;
					border-bottom: 1px solid $clr-seventeen;
				}
				&:after {
					content: '';
					left: 1.15em;
					right: 1.15em;
					bottom: 0;
					position: absolute;
					border-top: 3px solid $brand-primary;
					transform: translate(0, -10px);
					opacity: 0;
					transition: .2s transform, .2s opacity;
				}
				&:hover, &.active {
					color: $clr-one;
				}
				&.active {
					background: none;
					.hidden-text {
						opacity: 0;
					}
					.visible-text {
						opacity: 1;
						transform: translate(-50%, -50%) scale(1);
					}
					&:after {
						transform: translate(0, 0);
						opacity: 1;
					}
				}
			}
		}
	}
	&.nav-inline {
		margin-bottom: 20px;
		.nav-item {
			margin-right: 5px;
		}
		.nav-link {
			border: 2px solid $clr-three;
			text-transform: uppercase;
			padding: .4em 1em;
			font-size: 13px;
			border-radius: 4px;
			&.active, &:hover{
				background: $brand-primary;
				border-color: $brand-primary;
				color: $white;
			}
		}
	}
	&.nav-tabs_alternative {
		margin-bottom: 0;
		flex-wrap: wrap;
		.nav-item {
			color: $clr-four;
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			vertical-align: top;
			margin: 0;
			.nav-link {
				border: 1px solid transparent;
				display: block;
				padding: 16px 30px;
			    padding: .95em 1.5em;
			    font-size: 17px;
			    font-weight: 600;
			    line-height: 1;
			    height: 100%;
				&.active,&:hover {
					color: $white;
					background: $brand-primary;
					border-color: $brand-primary;
				}
			}
		}
	}
}
.tab-content {
	> .tab-pane {
		display: block;
		height: 0;
		opacity: 0!important;
		visibility: hidden;
		overflow: hidden;
		&.active {
			opacity: 1 !important;
			height: auto;
			visibility: visible;
		}
	}
}


@include media-breakpoint-down(md) {
	.nav.nav-tabs_alternative {
		.nav-item {
			.nav-link {
				font-size: 15px;
			}
		}
	}
}
@include media-breakpoint-down(sm) {
	.nav.nav-tabs {
		.nav-item {
			.nav-link {
				font-size: 17px;
			}
		}
	}
	.nav.nav-tabs_alternative {
		.nav-item {
			.nav-link {
				font-size: 12px;
			}
		}
	}
}
@include media-breakpoint-down(xs) {
	.nav {
		&.nav-tabs {
		    justify-content: center;
			width: 100%;
			margin: 30px 0 15px;
			.nav-item {
				width: 100%;
				margin-bottom: 0;
				flex: 1;
		    	max-width: 50%;
				.nav-link {
					font-size: 12px;
					color: $black;
					border-radius: 0;
					padding: 6px 5px;
					text-align: center;
					&:after {
						left: 10px;
						right: 10px;
					}
					&:before {
						display: none;
					}
				}
			}
		}
		&.nav-tabs_alternative{
			flex-direction: column;
			.nav-item{
				display: block;
				margin: 0;
				.nav-link {
					font-size: 14px;
					border-radius: 0;
					text-align: center;
					border: 2px solid $brand-primary;
				    border-bottom: none;
				    padding-left: 5px;
				    padding-right: 5px;
				}
			}
		}
		&.nav-inline{
			.nav-link{
				font-size: 12px;
			}
		}
	}
}